.app {
    .loading-indicator-wrap {
        position: fixed;
        z-index: 9999;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
