.photo {
    position: relative;
    background-color: white;
    position: relative;

    .photo-info {
        text-align: left;
        padding-right: 5px;
        padding-left: 20px;
        height: 35px;
        line-height: 35px;

        .owner {
            font-weight: bold;
            cursor: pointer;
        }
    }

    .photo-description-wrap {
        position: absolute;
        top: 35px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        height: 0px;
        transition: 0.3s linear;

        .photo-description {
            height: 100%;
            position: relative;

            p {
                color: yellow;
                font-weight: bold;
                text-align: left;
                display: none;
                position: absolute;
                top: 10px;
                bottom: 10px;
                left: 10px;
                right: 10px;
                word-break: break-all;
            }
        }
    }

    &:hover {
        .photo-description-wrap {
            height: auto;
            background-color: rgba(0, 0, 0, 0.7);

            .photo-description p {
                display: inline;
            }
        }
    }
}
